.navbar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  color: #000;
  background-color: #48e2ef;
  gap: 20px;
}
#no {
  height: 36px;
  width: 80px;
  font-size: 16px;
  color: rgb(185, 185, 185);
  border: 1px solid #f317f3;
  border-radius: 4px;
  background-color: #474747;
}
#no:focus {
  outline: none;
}
.css-2b097c-container {
  width: 120px;
  color: black;
  background-color: #d60909;
}
.css-yk16xz-control {
  background-color: #15a308 !important;
  border-color: #ff9900 !important;
}
